# Ignore node dependencies
Android/node_modules/
ios/node_modules/
Linux/node_modules/
Mac/node_modules/
test/node_modules/
Windows/node_modules/
Windows/winbuild
node_modules

# Ignore Python virtual environments
.venv/
__pycache__/


# Ignore editor and system files
*.log
*.tmp
*.bak
gu.cmd
*.blockmap
.DS_Store
.idea/
.vscode/


